---
import BaseHead from '../components/BaseHead.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<!-- <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> -->
		 
	</head>
	<body>
		<!-- <div class="container"> -->
			<!-- <div class="text">Hello World</div> -->
			<img class="image" src="/JWLogo v01.webp" />
		<!-- </div> -->
	</body>
</html>
